.main-container {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.layout {
  overflow: auto;
  max-width: 600px;
  padding-bottom: 15px;
}

.transactions__buttons {
  padding-bottom: 30px;
}